// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;700&display=swap');

color-dark = #0f0f0f
color-medium-dark = #505050
color-medium-light = #a7a7a7
color-light = #ffffff

color-online = #41ff519a
color-offline = #ff414e93
color-greyed = #8b8b8ba4

color-publish = color-light
color-publish-hover = color-dark
color-title = color-dark

sidebar-width = 180px

radius-containers = 20px
radius-buttons = 20px

max-chart-width = 600px

font-main = sans-serif !important
// font-main = 'Noto Sans JP', sans-serif !important